body{
    background-color: black;
    font-family: sans-serif;
    margin-top: 30px;
}

h1{
    color: white;
    font-size: 2em;
    text-align: center;
}

h2{
   color: white;
   text-align: center;
   font-size: 1.7em;
   margin-left: 10%;
   margin-right: 10%;
}

div#apresentacao{
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

a{
    color:  #f2ee1b;
}

div#projetos{
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 16pt;
  margin-left: 10%;
  margin-right: 10%;
}

img{
    max-width:80%;
	height:auto;
}